* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
}
html, body {
  overflow-x: hidden;
}
/* Secondary Navigation Bar start */
.fixedPositionNavContainer {
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100vw;
  box-shadow: 5px 10px 8px rgb(228, 226, 226);
}
.secondaryNavBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  background-color: #3d3d3d;
  padding: 14px 35px;
}
.secondaryMenu1 {
  display: flex;
  align-items: center;
}
.secondaryMenu1P {
  padding-left: 10px;
  font-size: 0.9rem;
}
.secondaryMenu2 {
  display: flex;
  align-items: center;
}
#secondaryMenu2facebookIcon {
  padding-left: 10px;
}
#secondaryMenu2twitterIcon {
  padding-left: 10px;
}
#secondaryMenu2pinterestIcon {
  padding-left: 10px;
}
@media (max-width: 340px) {
  .secondaryNavBar {
    flex-direction: column;
  }
  .secondaryMenu1 {
    padding-bottom: 5px;
  }
}
/* Secondary Navigation Bar end */

/* Primary Navigation Bar start */
.primaryNavBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 35px;
  background-color: white;
}
#menuIcon {
  display: none;
}
.primaryNavBarMenu {
  display: flex;
  list-style-type: none;
}
.modalMenu {
  display: none;
}
.primaryNavBarMenuLink {
  display: block;
  font-size: 0.9rem;
  text-decoration: none;
  color: black;
  padding: 20px 20px;
}
.primaryNavBarMenuLink:hover {
  opacity: 0.5;
}
.primaryNavBarPurchaseButton {
  font-size: 0.85rem;
  padding: 18px 45px;
  background-image: linear-gradient(269deg, #00d9a6 0%, #9be15d 100%);
  color: white;
  box-shadow: 6px 6px 25px 0px rgba(0,217,166,.35);
  text-shadow: 0 0 10px rgba(0,0,0,0.04);
  border: none;
  border-radius: 100rem;
}
.primaryNavBarPurchaseButton:hover {
  background-image: none;
  background-color: black;
}
#primaryNavBarSearchIcon {
  color: #00d9a6;
  padding-left: 30px;
}
@media (max-width: 1112px) {
  .primaryNavBar {
    flex-direction: column;
  }
  .primaryNavBarMenu {
    padding-top: 40px;
  }
  .primaryNavBarPurchaseNsearch {
    display: none;
  }
}
@media (max-width: 769px) {
  .primaryNavBar {
    flex-direction: row;
    padding: 14px 15px;
  }
  #menuIcon {
    display: block;
    font-size: 1.5rem;
    padding-right: 30px;
  }
  .primaryNavBarMenu {
    display: none;
  }
  .modalMenu.active {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    list-style-type: none;
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content:center;
    background-color: white;
    opacity: 0.99;
  }
  #xmarkIcon {
    font-size: 1.9rem;
    color: rgb(183, 182, 182);
    position: absolute;
    top: 2%;
  }
  .modalMenuLink {
    display: block;
    font-size: 1.7rem;
    text-decoration: none;
    color: black;
    padding: 1.7rem;
  }
}
/* Primary Navigation Bar end */

/* Header start */
.header {
  background-color: rgb(251, 251, 251);
}
/* headerFlexContainer1 start */
.headerFlexContainer1 {
  display: flex;
}
.headerFlexContainer1left {
  padding: 190px 0 0 60px;
}
.headerFlexContainer1leftH2 {
  color: #00d9a6;
  font-size: 1rem;
  letter-spacing: 5px;
  padding-bottom: 40px;
}
.headerFlexContainer1leftH1 {
  color: #202020;
  font-size: 3.5rem;
  padding-bottom: 20px;
}
.h1span {
  color: #00d9a6;
}
.h1pdivider {
  background-color: white;
}
.headerFlexContainer1leftP {
  padding: 40px 40px 40px 0;
  color: gray;
  text-align: justify;
}
.readMoreButton {
  color: white;
  background-color: black;
  padding: 10px 30px;
  font-size: 0.7rem;
  border-radius: 50px;
  box-shadow: 5px 5px 8px gray;
}
.socialDivHeader {
  padding-top: 50px;
}
.socialDivHeaderLink {
  color: #3d3d3d;
  text-decoration: none;
  padding: 0 10px;
}
.circlediv1 {
  position: relative;
  left: 150px;
  background-color: lightgray;
  width: 800px;
  height: 800px;
  border-radius: 50%;
}
.circleImage1 {
  width: 700px;
  height: 700px;
  border-radius: 50%;
  position: absolute;
  top: 50px;
  left: 7%;
  z-index: 10;
}
.oval1 {
  width: 78px;
  height: 57px;
  background-color: lightgray;
  border-radius: 50px;
  position: absolute;
  top: 120px;
  left: -170px;
}
.oval2 { 
  height: 57px;
  width: 240px;
  background-color: lightgray;
  border-radius: 50px;
  position: absolute;
  top: 120px;
  left: -70px;
}
.oval3 {
  height: 57px;
  width: 116px;
  background-color: lightgray;
  border-radius: 50px;
  position: absolute;
  top: 230px;
  left: -50px;
}
.oval4 { 
  width: 78px;
  height: 53px;
  background-color: rgb(251, 251, 251);
  border-radius: 50px;
  position: absolute;
  top: 177px;
  left: 10px;
}
@media (max-width: 1206px) {
  .headerFlexContainer1 {
    flex-direction: column;
  }
  .headerFlexContainer1left {
    padding: 60px 150px 0 150px;
    text-align: center;
  }
  .headerFlexContainer1leftP {
    padding: 40px 0 ;
  }
  .headerFlexContainer1right {
  padding: 60px;
  }
  .circlediv1 {
    left: 220px;
    margin: 0 100px 0 0;
  }
}
@media (max-width: 1130px) {
  .headerFlexContainer1right {
    padding: 60px 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    
  }
  .circlediv1 {
    left: 20px;
    margin: 0;
    width: 400px;
   height: 400px;
  }
  .circleImage1 {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    position: absolute;
    top: 50px;
    left: 13%;
    z-index: 10;
  }
  .oval1 {
    width: 78px;
    height: 57px;
    top: 60px;
    left: -200px;
  }
  .oval2 { 
    height: 57px;
    width: 240px;
    top: 60px;
    left: -100px;
  }
  .oval3 {
    height: 57px;
    width: 116px;
    top: 170px;
    left: -80px;
  }
  .oval4 { 
    width: 78px;
    height: 53px;
    top: 117px;
    left: -30px;
  }
}
@media (max-width:820px) {
  .headerFlexContainer1left {
    padding: 60px 60px 0 60px;
    text-align: center;
  }
  .circlediv1 {
    width: 200px;
   height: 200px;
  }
  .circleImage1 {
    width: 150px;
    height: 150px;
    top: 26px;
    left: 13%;
    z-index: 10;
  }
  .oval1 {
    width: 60px;
    height: 40px;
    top: 30px;
    left: -160px;
  }
  .oval2 { 
    height: 40px;
    width: 140px;
    top: 30px;
    left: -70px;
  }
  .oval3 {
    height: 40px;
    width: 80px;
    top: 110px;
    left: -50px;
  }
  .oval4 { 
    width: 40px;
    height: 40px;
    top: 70px;
    left: -20px;
  }
}
/* headerFlexContainer1 end */
/* Header end */

/* Second Section start */
.secondSection {
  display: flex;
  justify-content: space-between;
  padding: 200px 15px 15px;
}
.secondSectionFlex1 {
  flex-basis: 30%;
  padding: 15px;
}
.secondSectionFlex2 {
  flex-basis: 30%;
  display: flex;
  flex-direction: column;
  padding: 15px;
}
.secondSectionFlex3 {
  flex-basis: 30%;
  display: flex;
  flex-direction: column;
  padding: 15px;
}
.secondSectionFlex1H3first {
  font-size: 2.5rem;
  padding-top: 50px;
}
.secondSectionFlex1H3second {
  font-size: 2.5rem;
  padding-top: 30px;
}
.secondSectionFlex1H3third {
  font-size: 2.5rem;
  padding-top: 30px;
  padding-bottom: 20px;
}
.secondSectiondivider {
  background-color: white;
  display: block;
  margin-bottom: 30px;
}
.secondSectionCard {
  border-radius: 15px;
  padding: 40px;
  background-color: white;
  margin-bottom: 50px;
  box-shadow: 10px 10px 10px rgb(228, 226, 226),-10px -10px 10px rgb(228, 226, 226);
}
.secondSectionCard:hover {
  background-image: linear-gradient(269deg, #00d9a6 0%, #9be15d 100%);
  color: white;
}
#secondSectionCardspeedIcon {
  color: #00d9a6;
  font-size: 2rem;
  padding-bottom: 30px;
}
.secondSectionCardH4 {
  font-size: 1.5rem;
  padding-bottom: 30px;
}
.secondSectionCardP {
  text-align: justify;
}
#secondSectionCardmobileIcon {
  color: #00d9a6;
  font-size: 2.5rem;
  padding-bottom: 30px;
}
#secondSectionCardcloudIcon {
  color: #00d9a6;
  font-size: 2.5rem;
  padding-bottom: 30px;
}
#secondSectionCardstopwatchIcon {
  color: #00d9a6;
  font-size: 2.5rem;
  padding-bottom: 30px;
}
@media (max-width: 1020px) {
  .secondSection {
    flex-direction: column;
  }
  .secondSectionFlex1 {
    text-align: center;
  }
  .secondSectiondivider {
    margin-left: auto;
    margin-right: auto;
  }
  .secondSectionCard {
    text-align: center;
  }
}
/* Second Section end */

/* Third Section start */
.thirdSection {
  display: flex;
  justify-content: space-between;
  padding: 200px 0 20px;
}
.thirdSectionLeft {
  padding: 5px;
  flex-basis: 30%;
  position: relative;
}
.thirdSectionImg1 {
  max-width: 380px;
  height: auto;
  border-radius: 15px;
  /* background-image: linear-gradient(269deg, #00d9a6 0%, #9be15d 100%); */
}
.thirdSectionImg2 {
  max-width: 380px;
  height: auto;
  border-radius: 15px;
  position: absolute;
  top: 100px;
  left: 100px;
}
.thirdSectionRight {
  padding: 15px;
  flex-basis: 50%;
}
.thirdSectionRightH5 {
  font-size: 2.5rem;
  padding: 30px 0;
  letter-spacing: 1px;
}
.thirdSectiondivider {
  background-color: white;
  display: block;
  margin-bottom: 30px;
}
.thirdSectionRightP {
  padding-bottom: 30px;
  text-align: justify;
}
.thirdSectionRightbutton {
  color: white;
  background-color: black;
  padding: 20px 40px;
  font-size: 0.7rem;
  border-radius: 50px;
  box-shadow: 5px 5px 8px gray;
  background-image: linear-gradient(269deg, #00d9a6 0%, #9be15d 100%);
  border: none;
}
.thirdSectionRightbutton:hover {
  background-image: none;
}
@media (max-width: 1110px) {
  .thirdSection {
    flex-direction: column;
  }
  .thirdSectionLeft {
    text-align: center;
  }
  .thirdSectionImg2 {
    top: 100px;
    left: 400px;
  }
  .thirdSectionRight {
    margin-top: 50px;
    text-align: center;
  }
  .thirdSectiondivider {
    margin-left: auto;
    margin-right: auto;
  }
}
@media (max-width: 850px) {
  .thirdSectionImg2 {
    position: static;
  }
}
/* Third Section end */

/* Fourth Section start */
/* Fourth Section Top start */
.fourthSection {
  padding: 300px 10px 200px;
  margin-top: 50px;
}
.fouthSectionTop {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
.fouthSectionTopLeft {
  padding: 10px;
  flex-basis: 40%;
}
.fourthSectiondivider {
  background-color: white;
  display: block;
  margin-bottom: 30px;
  /* margin-left: auto;
    margin-right: auto; */
}
.fourthSectionH3 {
  font-size: 2.5rem;
}
.fourthSectionH3last {
  font-size: 2.5rem;
  padding-bottom: 30px;
}
.fouthSectionTopRight {
  padding: 10x;
  flex-basis: 50%;
}
.fouthSectionTopRightP {
  padding-top: 130px;
  text-align: justify;
}
@media (max-width: 980px) {
  .fouthSectionTop {
    flex-direction: column;
  }
  .fouthSectionTopLeft {
    text-align: center;
  }
  .fourthSectiondivider {
    margin-left: auto;
    margin-right: auto;
  }
  .fouthSectionTopRightP {
    padding: 20px;
  }
}
/* Fourth Section Top end */
/* fourth Section Image Row start */
.fourthSectionImageRow {
  display: flex;
}
.fourthSectionImage {
  width: 25%;
  height: 25%;
  padding: 5px;
}
@media (max-width: 500px) {
  .fourthSectionImageRow {
    flex-direction: column;
    text-align: center;
  }
  .fourthSectionImage {
    width: 50%;
    height: 50%;
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
  }
}
/* fourth Section Image Row end */
.fourthSectionbuttondiv {
  text-align: center;
}
.fourthSectionbutton {
  color: white;
  padding: 20px 40px;
  font-size: 0.7rem;
  border-radius: 50px;
  box-shadow: 5px 5px 8px gray;
  background-image: linear-gradient(269deg, #00d9a6 0%, #9be15d 100%);
  border: none;
  margin-top: 50px;
}
.fourthSectionbutton:hover {
  background-color: black;
  background-image: none;
}
/* Fourth Section end */
/* Fifth Section start */
.fifthSection{
  padding: 200px 30px 300px;
  display: flex;
  background-color: whitesmoke;
  position: relative;
}
.fifthSectionLeft {
  padding: 200px 50px 50px;
  flex-basis: 50%;
  background-image: linear-gradient(269deg, #00d9a6 0%, #9be15d 100%);
  color: white;
  text-align: center;
}
.fifthSectionLeftP1 {
  font-size: 5rem;
  padding-bottom: 30px;
}
.fifthSectionLeftP2 {
  font-size: 1.6rem;
  padding-bottom: 30px;
}
.fifthSectionLeftP3 {
  display: inline-block;
  border-right: 1px solid lightgray;
  padding: 20px;
  font-size: 1.2rem;
}
.fifthSectionLeftP4 {
  display: inline-block;
  padding: 20px;
  font-size: 1.2rem;
}
.fifthSectionPspan {
  font-size: 2.5rem;
}
.fifthSectionRight {
  padding: 50px 70px;
  flex-basis: 50%;
  background-color: white;
  position: absolute;
  top: 300px;
  left: 45%;
  right: 5%;
}
.fifthSectionRightH3 {
  font-size: 2.7rem;
  padding-bottom: 20px;
}
.fifthSectiondivider {
  background-color: white;
  display: block;
  margin-bottom: 30px;
}
.fifthSectionRightP1 {
  text-align: justify;
  color: gray;
  padding: 20px 0;
}
#fa-check {
  color: #00d9a6;
  padding-right: 5px;
}
.fifthSectionRightP2 {
  color: gray;
  padding-top: 20px;
}
.fifthSectionRightP3 {
  color: gray;
  padding-top: 20px;
}
.fifthSectionRightP4 {
  color: gray;
  padding-top: 20px;
}
@media (max-width: 1130px) {
  .fifthSection{
    flex-direction: column;
    padding-bottom: 200px;
  }
  .fifthSectionRight {
    margin-top: 30px;
    padding: 50px 70px;
    flex-basis: 50%;
    background-color: white;
    position: static;
  }
}
/* Fifth Section end */

/* Sixth Section start */
.sixthSection {
  display: flex;
  justify-content: space-between;
  padding: 200px 20px;
  background-color: rgb(248, 248, 248);
}
.sixthSectionChild1 {
  flex-basis: 25%;
  padding: 10px;
}
.sixthSectionChild1H3 {
  font-size: 2.2rem;
  padding-bottom: 15px;
}
.sixthSectionChild1H3second {
  font-size: 2.2rem;
  padding-bottom: 20px;
  margin-bottom: 20px;
}
.sixthSectiondivider {
  background-color: white;
  display: block;
  margin-bottom: 30px;
}
.sixthSectionChild1P {
  text-align: justify;
  padding: 10px 0;
  color: gray;
}

.sixthSectionChild2 {
  flex-basis: 23%;
  text-align: center;
  border-radius: 15px 15px 0 0;
  background-color: white;
  box-shadow: 5px 5px 10px gray;
}
.sixthSectionChild2Top {
  background-color: black;
  padding: 20px 0 10px;
  border-radius: 15px 15px 0 0;
}
.sixthSectionChild2Title {
  background-color: white;
}
.sixthSectionChild2TitleH3 {
  font-size: 2rem;
  padding: 20px 0 15px;
}
.sixthSectionChild2TitleP {
  color: gray;
  padding: 0 0 15px;
}
.sixthSectionChild2TopP {
  color: white;
  font-size: 1.5rem;
  padding: 20px 0;
}
.TopPspan {
  font-size: 2rem;
}
.sixthSectionChild2Bottom {
  padding: 20px 0;
  color: gray;
}
.sixthSectionChild2BottomP1 {
  padding: 10px 0;
}
.sixthSectionChild2BottomP2 {
  padding: 10px 0;
}
.sixthSectionChild2BottomP3 {
  padding: 10px 0;
}
.sixthSectionChild2BottomP4 {
  padding: 10px 0;
}
.sixthSectionChild2BottomP5 {
  padding: 10px 0;
}

.sixthSectionChild3 {
  flex-basis: 23%;
  text-align: center;
  border-radius: 15px 15px 0 0;
  background-color: white;
  box-shadow: 5px 5px 10px gray;
}
.sixthSectionChild3Top {
  background-image: linear-gradient(269deg, #00d9a6 0%, #9be15d 100%);
  padding: 20px 0 10px;
  border-radius: 15px 15px 0 0;
}
.sixthSectionChild3Title {
  background-color: white;
}
.sixthSectionChild3TitleH3 {
  font-size: 2rem;
  padding: 20px 0 15px;
}
.sixthSectionChild3TitleP {
  color: gray;
  padding: 0 0 15px;
}
.sixthSectionChild3TopP {
  color: white;
  font-size: 1.5rem;
  padding: 20px 0;
}
.sixthSectionChild3Bottom {
  padding: 20px 0;
  color: gray;
}
.sixthSectionChild3BottomP1 {
  padding: 10px 0;
}
.sixthSectionChild3BottomP2 {
  padding: 10px 0;
}
.sixthSectionChild3BottomP3 {
  padding: 10px 0;
}
.sixthSectionChild3BottomP4 {
  padding: 10px 0;
}
.sixthSectionChild3BottomP5 {
  padding: 10px 0;
}

.sixthSectionChild4 {
  flex-basis: 23%;
  text-align: center;
  border-radius: 15px 15px 0 0;
  background-color: white;
  box-shadow: 5px 5px 10px gray;
}
.sixthSectionChild4Top {
  background-color: black;
  padding: 20px 0 10px;
  border-radius: 15px 15px 0 0;
}
.sixthSectionChild4Title {
  background-color: white;
}
.sixthSectionChild4TitleH3 {
  font-size: 2rem;
  padding: 20px 0 15px;
}
.sixthSectionChild4TitleP {
  color: gray;
  padding: 0 0 15px;
}
.sixthSectionChild4TopP {
  color: white;
  font-size: 1.5rem;
  padding: 20px 0;
}
.TopPspan {
  font-size: 2rem;
}
.sixthSectionChild4Bottom {
  padding: 20px 0;
  color: gray;
}
.sixthSectionChild4BottomP1 {
  padding: 10px 0;
}
.sixthSectionChild4BottomP2 {
  padding: 10px 0;
}
.sixthSectionChild4BottomP3 {
  padding: 10px 0;
}
.sixthSectionChild4BottomP4 {
  padding: 10px 0;
}
.sixthSectionChild4BottomP5 {
  padding: 10px 0;
}
@media (max-width: 1150px) {
  .sixthSection {
    flex-direction: column;
    align-items: center;
  }
  .sixthSectionChild1 {
    text-align: center;
  }
  .sixthSectiondivider {
    margin-left: auto;
    margin-right: auto;
  }
  .sixthSectionChild1P {
    text-align: center;
    padding: 10px 150px;
  }
  .sixthSectionChild2 {
    width: 300px;
    margin: 20px;
  }
  .sixthSectionChild3 {
    width: 300px;
    margin: 20px;
  }
  .sixthSectionChild4 {
    width: 300px;
    margin: 20px;
  }
}
@media (max-width: 800px) {
  .sixthSectionChild1P {
    text-align: justify;
    padding: 10px 50px;
  }
}
/* Sixth Section end */

/* Seventh Section start */ 
.seventhSection {
  background-image: linear-gradient(49deg,#171717 0%,#474747 100%); 
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 200px 0;
}
.seventhSectionSubContainer {
  width: 615px;
  height: auto;
  text-align: center;
}
#quoteLeft {
  color: #00d9a6;
  font-size: 3rem;
  padding-bottom: 30px;
}
.seventhSectionP1 {
  color: white;
  font-size: 1.7rem;
  font-style: italic;
  line-height: 1.6;
  padding-bottom: 50px;
}
.seventhSectionImg1 {
  border-radius: 50%;
  margin-bottom: 30px;
}
.seventhSectionH2 {
  color: #00d9a6;
  padding-bottom: 10px;
}
.seventhSectionP2 {
  color: white;
  font-size: 1.3rem;

}
@media (max-width: 650px) {
  .seventhSectionSubContainer {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
}
/* Seventh Section end */

/* Eighth Section start */
.eighthSection {
  padding: 200px 10px;
  background-color: whitesmoke;
}
.eighthSectionH3 {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 600;
  margin-bottom: 30px;
}
.highlight {
  color: #00d9a6;
}
.eighthSectiondivider {
  display: block;
  margin: 40px auto;
}
.eighthSectionFlex {
  display: flex;
  justify-content: space-between;
}

.eighthSectionFlexChild1 {
  padding: 10px;
}
.eighthSectionFlexChild1image {
  width: 100%;
  height: auto;
  border-radius: 15px;
}
.eighthSectionFlexChild1card {
  background-color: white;
  text-align: center;
  width: 80%;
  margin: 0 auto;
  position: relative;
  bottom: 50px;
  border-radius: 5px;
  padding: 10px;
}
.eighthSectionFlexChild1card:hover {
  background-image: linear-gradient(269deg, #00d9a6 0%, #9be15d 100%);
  bottom: 40px;
}
.eighthSectionFlexChild1p1 {
  color: gray;
  padding: 20px 0 10px;
}
.eighthSectionFlexChild1p2 {
  font-size: 1.5rem;
  padding: 10px 0 20px;
}
#eighthSectionDot {
  color: #00d9a6;
  font-size: 0.6rem;
  vertical-align: middle;
}

.eighthSectionFlexChild2 {
  padding: 10px;
}
.eighthSectionFlexChild2image {
  width: 100%;
  height: auto;
  border-radius: 15px;
}
.eighthSectionFlexChild2card {
  background-color: white;
  text-align: center;
  width: 80%;
  margin: 0 auto;
  position: relative;
  bottom: 50px;
  border-radius: 5px;
  padding: 10px;
}
.eighthSectionFlexChild2card:hover {
  background-image: linear-gradient(269deg, #00d9a6 0%, #9be15d 100%);
  bottom: 40px;
}
.eighthSectionFlexChild2p1 {
  color: gray;
  padding: 20px 0 10px;
}
.eighthSectionFlexChild2p2 {
  font-size: 1.5rem;
  padding: 10px 0 20px;
}

.eighthSectionFlexChild3 {
  padding: 10px;
}
.eighthSectionFlexChild3image {
  width: 100%;
  height: auto;
  border-radius: 15px;
}
.eighthSectionFlexChild3card {
  background-color: white;
  text-align: center;
  width: 80%;
  margin: 0 auto;
  position: relative;
  bottom: 50px;
  border-radius: 5px;
  padding: 10px;
}
.eighthSectionFlexChild3card:hover {
  background-image: linear-gradient(269deg, #00d9a6 0%, #9be15d 100%);
  bottom: 40px;
}
.eighthSectionFlexChild3p1 {
  color: gray;
  padding: 20px 0 10px;
}
.eighthSectionFlexChild3p2 {
  font-size: 1.5rem;
  padding: 10px 0 20px;
}

.eighthSectionbutton {
  color: white;
  padding: 20px 40px;
  font-size: 0.7rem;
  border-radius: 50px;
  box-shadow: 5px 5px 8px gray;
  background-color: black;
  border: none;
  display: block;
  margin: 50px auto 0;
}
.eighthSectionbutton:hover {
  background-image: linear-gradient(269deg, #00d9a6 0%, #9be15d 100%);
}
@media (max-width: 900px) {
  .eighthSectionFlex {
    flex-direction: column;
  }
}
/* Eighth Section end */

/* Ninth Section start */
.ninthSection {
  display: flex;
  padding: 200px 10px;
  background-color: whitesmoke;
}
.ninthSectionLeft {
  background-image: linear-gradient(49deg,#171717 0%,#474747 100%);
  flex-basis: 50%;
  border-radius: 15px;
  padding: 50px;
  margin-right: 10px;
  text-align: center;
}
.ninthSectionLeftH2 {
  color: gray;
  font-size: 1.5rem;
  padding-bottom: 30px;
}
.ninthSectionLeftH3 {
  color: white;
  font-size: 2.2rem;
  padding-bottom: 50px;
}
.ninthSectionLeftinput {
  background-color: #474747;
  color: white;
  width: 80%;
  height: 3rem;
  border-radius: 20px;
  border: none;
  padding: 10px 75px 10px 15px;
}
.ninthSectionLeftinput:focus {
  outline: none;
}
.ninthSectionLeftsubmitButton {
  background-color: #474747;
  color: lightgray;
  font-weight: bold;
  margin-left: -75px;
  padding: 8px 0;
  border-radius: 20px;
  border: none; 
}

.ninthSectionRight {
  background-image: linear-gradient(269deg, #00d9a6 0%, #9be15d 100%);
  flex-basis: 50%;
  border-radius: 15px;
  padding: 50px;
  text-align: center;
}
.ninthSectionRightH2 {
  font-size: 1.5rem;
  padding-bottom: 30px;
  color: lightgray;
}
.ninthSectionRightH3 {
  font-size: 2.2rem;
  color: white;
}
@media (max-width: 1024px) {
  .ninthSection {
    flex-direction: column;
    padding-right: 30px;
    padding-left: 30px;
  }
  .ninthSectionLeft {
    margin-right: 0;
    margin-bottom: 30px;
  }
}
/* Ninth Section end */

/* Tenth Section start */
.tenthSection {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 40px 100px;
  background-color: whitesmoke;
}
.tenthSectionimg1, .tenthSectionimg2,
.tenthSectionimg3, .tenthSectionimg4,
.tenthSectionimg5, .tenthSectionimg6 {
  padding: 20px;
}
/* Tenth Section end */

/* Top Footer start */
.topfooter {
  padding: 100px 30px;
  display: flex;
  justify-content: space-between;
}
.topfooterflexitem1 {
  flex-basis: 20%;
}
.topfooterflexitem1p {
  padding: 20px 5px;
  text-align: justify;
  color: gray;
}

.topfooterflexitem2 {
  flex-basis: 20%;
}
.topfooterflexitem2h6 {
  font-size: 1.4rem;
  padding-bottom: 10px;
  font-weight: lighter;
}
.topfooterflexitem2img {
  padding-bottom: 10px;
}
.topfooterflexitem2ul {
  list-style-type: none;
}
.topfooterflexitem2link {
  display: block;
  color: gray;
  text-decoration: none;
  padding: 10px;
}

.topfooterflexitem3 {
  flex-basis: 20%;
}
.topfooterflexitem3h5 {
  font-size: 1.6rem;
  padding-bottom: 10px;
  font-weight: lighter;
}
.topfooterflexitem3img {
  padding-bottom: 10px;
}
.topfooterflexitem3p1 {
  padding: 20px 5px;
  text-align: justify;
  color: gray;
}
.topfooterflexitem3p2 {
  padding: 20px 5px;
  text-align: justify;
  color: gray;
}
.topfooterflexitem3p3 {
  padding: 20px 5px;
  text-align: justify;
  color: gray;
}

.topfooterflexitem4 {
  flex-basis: 20%;
}
.topfooterflexitem4h6 {
  font-size: 1.4rem;
  padding-bottom: 10px;
  font-weight: lighter;
}
.topfooterflexitem4img {
  padding-bottom: 10px;
}
@media (max-width: 1000px) {
  .topfooter {
    padding-right: 35px;
    padding-left: 35px;
    flex-direction: column;
  }
  .topfooterflexitem1, .topfooterflexitem2,
  .topfooterflexitem3 {
    padding-bottom: 25px;
  }
}
/* Top Footer end */

/* Bottom Footer start */
.bottomfooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: gray;
  background-color: #3d3d3d;
  padding: 30px 35px;
}
.bottomfooterleft {
  font-size: 0.8rem;
}
@media (max-width: 400px) {
  .bottomfooter {
    flex-direction: column;
  }
  .bottomfooterleftp {
    padding-bottom: 10px;
  }
}
/* Bottom Footer end */

/* Arrow up start */
#arrowuplink {
  position: fixed;
  bottom: 100px;
  right: 90px;
  background-color: white;
  color: black;
  border: 0.5px solid black;
  padding: 9px 10px;
  border-radius: 50%;
}
#arrowuplink:hover {
  background-color: #474747;
  color: white;
}
/* Arrow up end */

/* Chat start */
#chatbutton {
  position: fixed;
  bottom: 95px;
  right: 25px;
  background-color: rgb(82, 124, 235);
  font-size: 1.8rem;
  padding: 9px 10px;
  border-radius: 50%;
}
/* Chat end */

/* Fixed right position links start */
.fixedPositionRightLink1 {
  background-color: gray;
  color: white;
  padding: 10px;
  width: 152px;
  text-decoration: none;
  font-size: 0.8rem;
  opacity: 0.7;
  border-radius: 8px 0 0 8px;
  position: fixed;
  top: 50%;
  right: -20px;
  z-index: 20;
  transition: transform .3s;
}
.fixedPositionRightLink1img {
  width: 0.7rem;
  height: 0.7rem;
}

.fixedPositionRightLink2 {
  background-color: gray;
  color: white;
  padding: 10px;
  width: 152px;
  text-decoration: none;
  font-size: 0.8rem;
  opacity: 0.7;
  border-radius: 8px 0 0 8px;
  position: fixed;
  top: 55%;
  right: -20px;
  z-index: 20;
  transition: transform .3s;
}

.fixedPositionRightLink3 {
  background-color: gray;
  color: white;
  padding: 10px;
  width: 152px;
  text-decoration: none;
  font-size: 0.8rem;
  opacity: 0.7;
  border-radius: 8px 0 0 8px;
  position: fixed;
  top: 60%;
  right: -20px;
  z-index: 20;
  transition: transform .3s;
}
.fixedPositionRightLink1:hover,
.fixedPositionRightLink2:hover, 
.fixedPositionRightLink3:hover {
  background-color: rgb(82, 124, 235);
  opacity: 1;
  transform: translateX(-20px);
}
/* Fixed right position links end */